certifi
chardet
click
dash
dash-auth
dash-core-components
dash-html-components
dash-renderer
dash-bootstrap-components
decorator
Flask
Flask-Compress
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
numpy
pandas
plotly
pytz
requests
six
traitlets
urllib3
Werkzeug
gunicorn
